.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.floatingLogo {
  width: 250px;
  height: 250px;
  margin-bottom: 40px;
  animation: float 1.5s ease-in-out infinite;
}

p {
  text-align: center;
  margin-bottom: 40px;
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
